<nav class="navbar bg-secondary text-white">
  <h1 class="my-0 mx-auto">{{ (quizQuestion$ | async)?.name }}</h1>
</nav>
<main>
  <section class="container">
    <div class="progress my-2">
      <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{ width: + (quizState$ | async)?.progress + '%' }" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="time-bar my-2">
      Time Remaining: 0:07 / 0:15 seconds
    </div>
    <div class="card" *ngFor="let quiz of (quizQuestion$ | async)?.questions; index as questionIndex">
      <div class="px-4 py-5">
        <div class="question card-header bg-secondary text-white h3 mb-1">{{ quiz.name }}</div>
        <!-- <div class="custom-control custom-radio" [ngClass]="'answer-value-' + '(1 + i)'">
          <input type="radio" [id]="'customRadio' + 'i'" [name]="'customRadio' + 'i'" class="custom-control-input" (click)="onAnswerSelected($event)">
          <label class="custom-control-label form-control" [for]="'customRadio' + 'i'">LABEL</label>
        </div> -->
        <div class="input-group" [ngClass]="'answer-value-' + (1 + i)" *ngFor="let quizOption of quiz.options.split(','); index as i">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input [id]="'customRadio' + i + questionIndex"  type="radio" [name]="'quiz-option-'+ questionIndex" aria-label="Radio button for following text input" (click)="onAnswerSelected(quizOption, questionIndex)">
            </div>
          </div>
          <label [for]="'customRadio' + i + questionIndex" class="form-control"> {{ quizOption }}</label>
        </div>
      </div>
    </div>
  </section>
</main>
